/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21.03.2018, 18:47:04
    Author     : user-22112
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

.chart {
  width: 500px;
  margin: 10px auto;
  padding: 10px 20px 30px;
  background: #FFF;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}

#bar-chart {
  width: 500px;
  height: 300px;
  position: relative;
}

#bar-chart::before{
  content: "";
  position: absolute;
  display: block;
  width: 240px;
  height: 30px;
  left: 155px;
  top: 254px;
  background: #FAFAFA;
  box-shadow: 1px 1px 0 0 #DDD;
}
