<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>jsp/index.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp*</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <default-content-type>text/html</default-content-type>
        </jsp-property-group>
    </jsp-config>
    <servlet>
        <servlet-name>PnzController</servlet-name>
        <servlet-class>controller.PnzController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PnzDataController</servlet-name>
        <servlet-class>controller.PnzDataController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PnzController</servlet-name>
        <url-pattern>/PnzController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PnzDataController</servlet-name>
        <url-pattern>/PnzDataController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
